body{
  background-color: black;
  color: white;
  padding: 48px;
  margin-top: 15%;
 
}

h1 {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 50px;
}

h1.name {
 display: inline-block;
 position: relative;
}

h1.name::after {
  content: ""; 
  display: block; 
  width: 20%; 
  height: 2px; 
  background-color: white; 
  position: absolute; 
  bottom: -4px; 
  left: 0; 
}

h2 {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.6;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Montserrat Alternates", sans-serif;

}

small{
  font-size: 14px;
}

/*.portfolio-links{
  margin-bottom: 50px;
  
}*/

.link{
  text-decoration:none;
  margin: 0 16px 0 0;
  text-decoration: none;
  color: #eee;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
 

}
.link:hover {
  color: white; 
  opacity: 1;   
}
/*.continuous-improvement{
  margin-top: 80px;
  border-top: 1px solid rgba(39, 33, 66, 0.7);
  color:grey ;
}*/

footer{
  margin-top: 80px;
}

