:root{
  --primary-color:#6358ff;
  --secondary-color:#f9f6ff;
  --accent-color: #FBCCEB;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
  margin-top: 100px;
 
}

h1 {
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 50px;
}

h1.name {
  display: inline-block;
  position: relative;
}

h1.name::after {
  content: ""; 
  display: block; 
  width: 20%; 
  height: 2px; 
  background-color: white;
  position: absolute; 
  bottom: -35px; 
  left: 0; 
}

h2 {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.6;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Montserrat Alternates", sans-serif;
  
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

small{
  font-size: 14px;
}



.container{
  margin-top: 300px;
  max-width: 95%;
  margin-bottom: 100px;
  margin-left: 40px;
}

/*.about-html{
  /*background-color: var(--secondary-color);
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  margin-top: 100px;

}*/
/*.portfolio-links{
  margin-bottom: 50px;
  
  }*/
  
  .social-link{
    text-decoration:none;
    margin: 0 16px 0 0;
    text-decoration: none;
    color: #eee;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    
    
  }
  .social-link:hover {
    color: white; 
    opacity: 1;   
  }
  /*.continuous-improvement{
    margin-top: 80px;
    border-top: 1px solid rgba(39, 33, 66, 0.7);
    color:grey ;
    }*/
    
    footer{
      margin-top: 80px;
    }
    
    /* .navbar-:hover{ 
      
    background-color: grey;
}*/

.primary-link{
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

strong{
  font-size: 30px;
}

.img-thumbnail{
  padding: 50px;
  height: 80%; 
  max-width: 100%;
  background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  }